
*{
    margin-top: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
}
.home{
    height: 100vh;
    width: 100%;
    background-image: url(../images/bg-home.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;

}
.panda-logo{
    padding-left: 5%;
    width: 60px;
    height: 60px;
}
span{
    color: #00edd5;
}
.logo{
    padding-left: 1%;
    font-family: 'Gabriela', serif;
    font-size: 20px;
    font-weight: 600;
}
nav {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: white;
    width: 100%;
    padding-top: 40px;
    position: fixed;
}
ul{
    list-style-type: none;
    display: flex;
    position: relative;
    padding-left: 35%;

}

.nav-item:hover{
    color:#00edd5;
    transition-delay: .2s;
}
.nav-item{
    color: white;
    text-decoration: none;
}
li{
    padding-right: 70px;
}
.scroll-active{
    background-color: #00edd5;
}
.home-content{
    position: absolute;
    padding-left: 200px;
    padding-top: 300px;
    font-family: 'Gabriela', serif;
}
.text-1{
    font-size: 37px;
}
.text-2{
    font-size: 60px;
    font-weight: bolder;
}
.text-3{
    font-size: 37px;
}
span:hover{
   transform:scale(1.2);
}
#about-part{
    background-color:white;
    height:auto;
    margin: 0;
    border: 0;
    padding: 10px;
}
.about{
    text-align: center;
    
}
.about-img{
    height: 350px;
    width: 350px;
    padding-top: 20px;
}
.hr{
    border: 2px solid #00edd5;
    border-radius: 5px;
    width: 10%;

}
.title{
    padding-top: 30px;
}
.skills{
    text-align: center;
}
.cards{
    display: flex;
    text-align: center
}
.skills-title{
    color:white;
}
.card{
    width: 25%;
    background:#222;
    text-align: center;
    border-radius: 6px;
    padding: 3% 2%;
    margin: 2%;
    color: white;
}
.card:hover{
    background: #00edd5;
}
.card-img{
    fill: #00edd5;

}
#contact-part{
    padding-left: 2%;
    padding-right: 3%;
}
.contact{
    background-color: #222;
    text-align: center;
    padding: 30px;
    border-radius: 6px;
    width: 95%;

}

footer{
    background-color: black;
    color: white;
    height: 40px;
    text-align: center;
    padding-top: 20px;
}
i{
    font-size: 50px;
    color:#00edd5;
    padding: 10px;
}
.card :hover i{
    color: white;
}
i:hover{
    color: white;
}